﻿html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #ECECEC;
  color: #D3D3D3;
}

/*------------------------------------------------------------------------------------*/

.object-fit-cover img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.object-fit-contain img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

/*------------------------------------------------------------------------------------*/

#container {
  position: relative;
  min-height: 100%;
  margin: 0px;
}

#body {
  padding: 10% 20px 50px 20px;
  padding-bottom: 45px;
  position: relative;
}

#footer {
  padding: 0px 20px 0px 20px;
  background: #F8F8F8;
  position: absolute;
  height: 45px;
  width: 100%;
  bottom: 0px;
}

#footer p {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  font-size: 12px;
  color: #444;
  left: 20px;
  top: 50%;
}

/*------------------------------------------------------------------------------------*/

input, textarea {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

textarea {
  overflow: hidden;
  resize:vertical;
}

input:focus, textarea:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #00B0E5 !important;
}

/*------------------------------------------------------------------------------------*/