﻿@import 'https://fonts.googleapis.com/css?family=Roboto';

html, body {
  height: 100%;
}

body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Roboto',Arial,sans-serif;
  background: #E5E5E5;
}

/*------------------------------------------------------------------------------------*/

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.2);
}
 
::-webkit-scrollbar-thumb {
  /*background-color: rgba(3,155,230,0.4);*/
  /*background-color: rgba(247,151,29,1);*/
  background-color: rgba(131, 191, 29, 1);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

/*------------------------------------------------------------------------------------*/

.object-fit-cover img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.object-fit-contain img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

/*------------------------------------------------------------------------------------*/

.overlay {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
}

/*------------------------------------------------------------------------------------*/

.imgForm-container {
  border: 1px solid #DCDCDC;
  position: relative;
  height: 250px; 
  width: 100%; 
}

.imgForm-container .imgBrowse-img-frame {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  overflow: hidden; 
  height: 72%; 
  width: 95%; 
  left: 50%;
  top: 6px;
}

.imgForm-container span {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  font-size: 13px;
  color: #9E9E9E;
  bottom: 38px;
  left: 50%;
}

.imgForm-container .imgDisplay-img-frame {
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  overflow: hidden; 
  height: 95%; 
  width: 95%; 
  left: 50%;
  top: 50%;
}

.imgBrowse-browse-frame {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.imgBrowse-browse-frame .btn-basic {
  padding: 4px 6px 4px 6px;
  position: absolute;
  left: 2px;
  top: 3px;
}

.imgBrowse-browse-frame .btn-basic:focus {
  outline: none;
}

.imgBrowse-browse-frame input[type=text] {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  border-top: 1px dashed #E2E2E2;
  padding: 0px 15px 0px 40px;
  background: transparent;
  height: 34px;
}


.fileForm-container {
  border: 1px solid #CCCCCC;
  position: relative;
  width: 100%;
}

.fileBrowse-browse-frame {
  width: 100%;
}

.fileBrowse-browse-frame .btn-basic {
  padding: 4px 6px 4px 6px;
  position: absolute;
  right: 2px;
  top: 2px;
}

.fileBrowse-browse-frame .btn-basic:focus {
  outline: none;
}

.fileBrowse-browse-frame .btn-upload {
  background-color: #17D2FF;
  padding: 4px 6px 4px 6px;
  position: absolute;
  margin-right: -1px;
  margin-top: -1px;
  font-weight: bold;
  font-size: 13px;
  min-width: 70px;
  height: 36px;
  color: #FFF;
  right: 0px;
  top: 0px;
}

.fileBrowse-browse-frame .btn-upload:hover {
  background-color: #5CE0FF;
  color: #FFF;
}

.fileBrowse-browse-frame .btn-upload:focus {
  background-color: #17D2FF;
}

.fileBrowse-browse-frame input[type=text] {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0px 25px 0px 0px;
  background: transparent;
  height: 34px;
}

/*------------------------------------------------------------------------------------*/

#sidebar {
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.0);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.0);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.0);
  padding: 210px 0px 0px 0px;
  background: #1A1A1A;
  position: fixed;
  height: 100%;
  width: 240px;
  margin: 0px;
  z-index: 2;
  left: 0px;
  top: 0px;
}

#sidebar-brand {
  -webkit-box-shadow: -1px 1px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: -1px 1px 2px rgba(0,0,0,0.4);
  box-shadow: -1px 1px 2px rgba(0,0,0,0.4);
  background-color: #83bf1d;
  position: fixed;
  height: 60px;
  width: 240px;
  z-index: 1;
  left: 0px;
  top: 0px;
}

#sidebar-brand .brand-name {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 72%;
  left: 15px;
  top: 50%;
}

#sidebar-brand img {
  position: absolute;
  height: 23px;
  width: 23px;
  left: 0px;
  top: 0px;
}

#sidebar-brand .brand-name h3 {
  text-transform: uppercase;
  padding: 3px 0px 0px 35px;
  margin: 0px;
  font-weight: bold;
  font-size: 1.3em; 
  color: #FFF; 
}

#sidebar-brand #toggle-nav {
  cursor: pointer;
  font-size: 18px;
  position: fixed;
  color: #FFF;
  left: 211px;
  top: 18px;
}

#sidebar-brand #toggle-nav:hover i {
  color: #8CFF8D;
}

#sidebar-profile {
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
  background-color: #2C343F;
  padding-top: 25px;
  position: fixed;
  height: 150px;
  width: 240px;
  left: 0px;
  top: 60px;
}

#sidebar-profile .overlay {
  background: -webkit-linear-gradient(rgba(131,191,29,0.1), rgba(0,0,0,0.82));
  background: -o-linear-gradient(rgba(131,191,29,0.1), rgba(0,0,0,0.82));
  background: -moz-linear-gradient(rgba(131,191,29,0.1), rgba(0,0,0,0.82));
  background: linear-gradient(rgba(131,191,29,0.1), rgba(0,0,0,0.82));
  position: absolute;
  height: 150px;
  left: 0px;
  top: 0px;
}

#sidebar-profile p {
  padding: 2px 5px 2px 5px;
  margin: 10px 0px 5px 0px;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  z-index: 1;
}

#sidebar-profile .img-frame {
  position: relative;
  margin: 0 auto;
  height: 70px;
  width: 70px;
}

#sidebar-profile a:hover {
  text-decoration: none!important;
}

#sidebar-list {
  position: relative;
  overflow-y: auto;
  height: 100%;
}

#sidebar-list ul {
  padding: 0px;
  margin: 0px;
}

#sidebar-list .li-separator {
  padding: 15px 12px 10px 18px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  color: #5C5C5C;
}

/*#sidebar-list .list-group-title {
  padding: 13px 12px 13px 15px;
  font-size: 13px;
  display: block;
  color: #AFAFAF;
}*/

#sidebar-list .list-group-title:focus {
  text-decoration: none;
}

#sidebar-list ul li ul li a {
  background-color: #212121;
  padding-left: 20px;
  font-size: 12px;
}

#sidebar-list ul li a {
  padding: 13px 12px 13px 18px;
  position: relative;
  font-size: 13px;
  display: block;
  color: #DDDDDD;
}

#sidebar-list ul li a span {
  position: absolute;
  right: 15px;
  top: 20px;
}

#sidebar-list ul li a:hover i {
  color: #E2E2E2;
}

#sidebar-list ul li a:hover {
  background-color: rgba(0,0,0,0.3);
  text-decoration: none;
  color: #FFF;
}

#sidebar-list ul li a i {
  text-align: center;
  color: #AFAFAF;
  width: 45px;
}

#sidebar-list ul .active a {
  -webkit-box-shadow: -5px 0px 0px #83bf1d;
  -moz-box-shadow: -5px 0px 0px #83bf1d;
  box-shadow: -5px 0px 0px #83bf1d;
  margin-left: 5px;
  color: #FFF;
}

#sidebar-list ul .active a i {
  color: #FFF;
}

.sidebar-opened {
  -webkit-transition: all 0.23s ease-out;
  -moz-transition: all 0.23s ease-out;
  -ms-transition: all 0.23s ease-out;
  -o-transition: all 0.23s ease-out;
  margin-left: 240px;
}

.sidebar-opened #sidebar #sidebar-brand span {
  -webkit-transition: all 0.23s ease-out;
  -moz-transition: all 0.23s ease-out;
  -ms-transition: all 0.23s ease-out;
  -o-transition: all 0.23s ease-out;
  color: #FFF;
  left: 211px;
}

.sidebar-opened #page-header #page-header-left {
  -webkit-transition: all 0.23s ease-out;
  -moz-transition: all 0.23s ease-out;
  -ms-transition: all 0.23s ease-out;
  -o-transition: all 0.23s ease-out;
  left: 260px;
}

.sidebar-opened #sidebar,
.sidebar-opened #sidebar #sidebar-brand,
.sidebar-opened #sidebar #sidebar-profile {
  -webkit-transition: all 0.23s ease-out;
  -moz-transition: all 0.23s ease-out;
  -ms-transition: all 0.23s ease-out;
  -o-transition: all 0.23s ease-out;
  margin-left: 0px;
}

.sidebar-closed {
  -webkit-transition: all 0.23s ease-out;
  -moz-transition: all 0.23s ease-out;
  -ms-transition: all 0.23s ease-out;
  -o-transition: all 0.23s ease-out;
  margin-left: 0px;
}

.sidebar-closed #sidebar #sidebar-brand span {
  -webkit-transition: all 0.23s ease-out;
  -moz-transition: all 0.23s ease-out;
  -ms-transition: all 0.23s ease-out;
  -o-transition: all 0.23s ease-out;
  color: #262626;
  left: 20px;
}

.sidebar-closed #page-header #page-header-left {
  -webkit-transition: all 0.23s ease-out;
  -moz-transition: all 0.23s ease-out;
  -ms-transition: all 0.23s ease-out;
  -o-transition: all 0.23s ease-out;
  left: 50px;
}

.sidebar-closed #sidebar,
.sidebar-closed #sidebar #sidebar-brand,
.sidebar-closed #sidebar #sidebar-profile {
  -webkit-transition: all 0.23s ease-out;
  -moz-transition: all 0.23s ease-out;
  -ms-transition: all 0.23s ease-out;
  -o-transition: all 0.23s ease-out;
  margin-left: -240px;
}

/*------------------------------------------------------------------------------------*/

#container {
  position: relative;
  min-height: 100%;
}

#page-header {
  background-color: #FFF;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 1;
  left: 0px;
  top: 0px;
}

#page-header #page-header-left {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  font-size: 1.5em;
  color: #303030;
  left: 260px;
  top: 50%;
}

#page-header #page-header-right {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 20px;
  top: 50%;
}

#page-header #page-header-right .btn-logout, 
#page-header #page-header-right .btn-switch-user {
  background-color: #AFAFAF;
  padding: 5px 10px 5px 0px;
  overflow: hidden;
  font-size: 13px;
  color: #FFF;
  width: 30px;
}

#page-header #page-header-right .btn-logout i,
#page-header #page-header-right .btn-switch-user i {
  width: 30px;
}

#page-header #page-header-right .btn-logout:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;   
  background-color: #F20600;
  width: 90px;
}

#page-header #page-header-right .btn-switch-user:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;   
  background-color: #00E005;
  width: 110px;
}

#body {
  padding: 60px 20px 0px 20px;
  padding-bottom: 45px;
  position: relative;
}

#footer {
  padding: 0px 20px 0px 20px;
  background: #FDFDFC;
  position: absolute;
  height: 45px;
  width: 100%;
  bottom: 0px;
}

#footer p {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  color: #737373;
  left: 20px;
  top: 50%;
}

/*------------------------------------------------------------------------------------*/

[class^='select2'] {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-color: #C0C0C0 !important;
}

[class^='select2']:focus {
  border-color: #00B0E5 !important;
  outline: 0 !important;
}

[class*='select2-selection--single'] { /*Select2 input*/
  height: 34px !important;
}

[class*='select2-results__group'] { /*Select2 option group color*/
  color: #000 !important;
}

[class*='select2-results__option'] { /*Select2 option color*/
  color: #444 !important;
}

[class*='select2-results__option--highlighted'] { /*Select2 highlighted option color*/
  color: #FFF !important;
}

[class*='select2-selection__rendered'] { /*Select2 input text*/
  padding: 3px 10px 3px 10px !important;
}

[class*='select2-selection__arrow'] { /*Select2 arrow*/
  height: 34px !important;
}

[class*='select2-selection__choice'] { /*Select2 tags*/
  margin-top: 3px !important;
  border: none !important;
}

.bootstrap-switch, .bootstrap-switch .bootstrap-switch-handle-on , .bootstrap-switch-handle-off {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-calmgreen {
  background: #1FCD00;
  color: #fff;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-calmred {
  background: #E20500;
  color: #fff;
}

input, textarea, .form-control {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

textarea {
  overflow: hidden;
  resize:vertical;
}

input:focus, textarea:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #00B0E5 !important;
}

/*------------------------------------------------------------------------------------*/

.btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.btn-default {
  background-color: transparent;
  padding: 2px 8px 2px 8px;
  color: #686464;
  margin: 3px;
}

.btn-basic {
  background-color: transparent;
  padding: 2px 6px 2px 6px;
  color: #686464;
  /*color: #FFF;*/
  margin: 0px;
}

.btn-basic:hover {
  background-color: #AFAFAF;
  color: #FFF;
}

.btn-basic:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  /*color: #FFF;*/
  color: #686464;
}

.btn-basic:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #CBCBCB;
  /*color: #FFF;*/
  outline: none;
}

.btn-back, .btn-submit, .btn-reset, .btn-cancel {
  font-weight: bold;
  background: none;
  min-width: 80px;
}

.btn-back {
  border: 3px solid #4D4D4D;
  color: #4D4D4D;
}

.btn-back:hover {
  border-color: #4D4D4D;
  background-color: #4D4D4D;
  color: #FFF;
}

.btn-back:active {
  background-color: #5B5B5B;
  border-color: #5B5B5B;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.btn-submit {
  border: 3px solid #009FEB;
  color: #009FEB !important;
  outline: 0 !important;
}

.btn-submit:hover {
  background-color: #009FEB;
  border-color: #009FEB;
  color: #FFF !important;
}

.btn-submit:active {
  background-color: #25B9FF;
  border-color: #25B9FF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.btn-reset {
  border: 3px solid #E67700;
  color: #E67700;
}

.btn-reset:hover {
  background-color: #E67700;
  border-color: #E67700;
  color: #FFF;
}

.btn-reset:active {
  background-color: #FF992A;
  border-color: #FF992A;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.btn-cancel {
  border: 3px solid #E20500;
  color: #E20500;
}

.btn-cancel:hover {
  background-color: #E20500;
  border-color: #E20500;
  color: #FFF;
}

.btn-cancel:active {
  background-color: #FF1E19;
  border-color: #FF1E19;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

/*------------------------------------------------------------------------------------*/

.form-group label {
  color: #646464;
}

.modal .modal-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: none;
}

.modal .modal-header {
  position: relative;
}

.modal .modal-header h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #686464;
}

.modal .modal-header i {
  font-size: 13px;
  color: #686464;
  width: 20px;
}

.modal .modal-header .close {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  padding: 0px;
  margin: 0px;
  right: 20px;
  top: 50%;
}

.modal .modal-body label {
  font-size: 13px;
}

/*------------------------------------------------------------------------------------*/

.remove-space {
  padding: 0px;
  margin: 0px;
}

.add-row-padding {
  padding-right: 15px;
  padding-left: 15px;
}

.notify-red {
  font-style: italic;
  font-size: 12px;
  color: #F20600;
}

/*------------------------------------------------------------------------------------*/

.basic-table-container {
  margin: -15px -20px -15px -20px;
  background-color: #FFFFFF;
  overflow: auto;
  padding: 0px;
}

.basic-table-container table {
  border: none;
  margin: 0px;
}

.basic-table-container table thead {
  border-bottom: 1px solid #E5E5E5;
  background-color: #F9F9F9;
}

.basic-table-container table thead th {
  padding: 25px 20px 25px 20px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
  color: #737373;
  border: none;
  height: 40px;
}

.basic-table-container table tbody {
  padding: 20px;
}

.basic-table-container table tbody td {
  vertical-align: middle;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 13px;
  color: #2A2A2A;
  border: none;
}

.basic-table-container table tfoot {
  border-top: 1px solid #A7A7A7;
}

.basic-table-container table tfoot th {
  font-weight: bold;
  color: #515151;
  font-size: 14px;
  border: none;
}

.basic-table-container th input[type=checkbox],
.basic-table-container td input[type=checkbox] {
  display: table;
  margin: 0 auto;
}

.table-img-frame {
  position: relative;
  overflow: hidden; 
  height: 60px; 
  width: 80px; 
}

/*------------------------------------------------------------------------------------*/

.panel-container {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #FFFFFF;
  margin: 20px 0px 20px 0px;
  padding: 0px;
}

.panel-container .panel-heading {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #FFF;
  padding: 15px 20px 15px 20px;
  position: relative;
  height: 60px;
}

.panel-container .panel-heading .panel-heading-left {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 20px;
  top: 50%;
}

.panel-container .panel-heading .panel-heading-left a {
  display: table-cell;
  position: relative;
  width: 30px;
}

.panel-container .panel-heading .panel-heading-left a:hover i {
  color: #83BF1D;
}

.panel-container .panel-heading .panel-heading-left a:active i {
  color: #AFAFAF;
}

.panel-container .panel-heading .panel-heading-left a i {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  color: #AFAFAF;
  left: 0px;
  top: 50%;
}

.panel-container .panel-heading .panel-heading-left .heading-title {
  display: table-cell;
  position: relative;
}

.panel-container .panel-heading .panel-heading-left h4 {
  padding: 0px 50px 0px 0px;
  font-weight: bold;
  font-size: 14px;
  /*color: #FFF;*/
  color: #686464;
  margin: 0px;
}

.panel-container .panel-heading .panel-heading-left h5 {
  margin: 5px 0px 0px 0px;
  font-size: 12px;
  color: #6E6E6E;
}

.panel-container .panel-heading .panel-heading-right {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 20px;
  top: 50%;
}

.panel-container .panel-heading-collapse {
  padding: 10px 12px 10px 12px;
  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #808183;
}

.panel-container .panel-heading-collapse:hover {
  background-color: #F2F2F2;
  color: #595959;
}

.panel-container .panel-heading-collapse span, .panel-container .panel-heading-collapse i {
  font-weight: bold;
  font-size: 13px;
  padding: 3px;
}

.panel-container .panel-body, .panel-container .panel-footer {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 15px 20px 15px 20px;
  border: none;
}

.panel-container .panel-footer {
  background-color: #F9F9F9;
  color: #ABABAB;
}

.panel-img-frame {
  position: relative;
  overflow: hidden; 
  height: 55px; 
  width: 55px; 
}

.panel-user-block {
  border: 1px solid #D9D9D9;
  background-color: #FFFFFF;
  position: relative;
  padding: 10px;
}

.panel-user-info {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  position: absolute;
  left: 80px;
  top: 10px;
}

.panel-user-info p {
  font-weight: bold;
  font-size: 14px;
  color: #000722;
  padding: 0px;
  margin: 0px;
}

.panel-user-info span {
  font-weight: bold;
  font-size: 12px;
  color: #7C7C7C;
  padding: 0px;
  margin: 0px;
}

.panel-content-block {
  border-bottom: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  border-left: 1px solid #D9D9D9;
  background-color: #F5F5F5;
  color: #363636;
  padding: 10px;
}

.panel-sub-title {
  margin: 0px 0px 5px 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #363636;
}

/*------------------------------------------------------------------------------------*/

.empty-panel,
.empty-panel-noborder {
  width: 100%;
}

.empty-panel .panel-body {
  border: 1px solid #E2E2E2;
  position: relative;
  min-height: 350px;
}

.empty-panel-noborder .panel-body {
  position: relative;
  min-height: 350px;
  border: none;
}

.empty-panel .panel-body .text,
.empty-panel-noborder .panel-body .text {
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

/*------------------------------------------------------------------------------------*/

#about_us_gmap iframe {
  height: 300px;
  width: 100%;
}

#about_us_details .form-group {
  padding: 0px 0px 12px 0px;
  color: #262626;
  border-bottom: 1px solid #EDEDED;
}

#about_us_details .form-group i {
  text-align: center;
  margin-right: 10px;
  color: #AFAFAF;
  width: 15px;
}

/*------------------------------------------------------------------------------------*/









/*------------------------------------------------------------------------------------*/

/*LBA*/

.row-template .input-group {
  margin-bottom: 5px;
}

.row-template .input-group .input-group-addon {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#contacts-row .row-template {
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  padding: 10px;
}

#contacts-row .row-template .row {
  margin-bottom: 10px;
}

#addField, #addContact {
  text-transform: uppercase;
  border: 1px solid #CCCCCC;
  background-color: #FFF;
  font-weight: bold;
  font-size: 13px;
  width: 100%;
}

/*LBA*/

/*------------------------------------------------------------------------------------*/